@import compass/css3
@import fonts

$row-width: 980px
$black-text: #323232

body
  background: #f4f5f7
  color: #494949

body, h1, h2, label
  font-family: Proxima Nova
  color: $black-text

header
  text-align: center
  margin: 2em 0
  img
    width: 80px
    margin-bottom: 1em
  h1
    font-size: 1.9em
    line-height: 1.1em

footer
  margin: 2.25em 0
  text-align: center
  font-size: .9em
  img
    margin-right: .25em
    margin-top: 1em

a
  color: orange
  &:hover
    color: lighten(orange, 5%)

input[type='email'], input[type='password'], input[type='text'], textarea, label[for='user_facebook'], label[for='user_twitter']
  font-size: 1em
  margin: .8em 0 .4em 0
  border: 2px solid lightgray
  +border-radius(3px)
  display: block
  padding: .5em
  *
    *:after, *:before
      +box-sizing(content-box)
  input
    padding: 0
    border: 0
    width: 110px
    display: inline-block
    height: auto
    +box-shadow(none)
    +box-sizing(content-box)
    &:after, &:before
      +box-sizing(content-box)
    &:hover
      background: white

input[type='submit'], .btn
  background: #008e46
  border: none
  color: white
  padding: 1em
  font-size: 1em
  cursor: pointer
  font-weight: bold
  display: inline-block
  +transition(.25s)
  +border-radius(3px)
  &:hover
    background: lighten(#008e46, 5%)
    color: white

.flash
  &.alert
    color: red

.field_with_errors
  label
    color: red !important
    font-weight: bold
  input
    border-color: red

.sessions.new, .registrations.new
  .registration, .login
    padding: 0
    .first_name
      padding-right: .3em
    .last_name
      padding-left: .3em
  form
    background: white
    padding: 2.5em
    +border-radius(5px)
    input[type='submit']
      display: block
      width: 100%
      margin: 1em 0
    h2, .signup
      text-align: center
    h2
      font-size: 1.3em
      line-height: normal
    .signup
      font-size: 1em
      margin-bottom: 3em
      a 
        font-weight: bold
    .remember_me
      a
        display: block
        float: right
        font-size: .9em
        line-height: 1.8em
      input[type='checkbox']
        margin-top: .2em
      label[for='user_remember_me']
        display: inline
    .flash
      font-size: .9em
      font-weight: bold

.users.edit, .users.update
  form.edit_user
    background: white
    padding: 2em
    +border-radius(5px)
    .row
      margin-bottom: 2em
      &:last-child
        margin-bottom: 0
      &.header
        h2
          font-size: 1.5em
          line-height: normal
          margin: 0
    input, textarea
      margin: 0
    label[for='user_gender_male'], label[for='user_gender_female'], label[for='user_gender_other'], label[for='user_public']
      display: inline
      margin-right: 1em
    input[type='radio'], input[type='checkbox']
      margin-right: .5em
    input[type='radio']
      margin-top: 26px
    textarea
      height: 100px
    label[for='user_facebook'], label[for='user_twitter']
      width: auto
      display: inline
    label[for='user_facebook'], label[for='user_twitter']
      margin-right: .5em
  form.edit_user_avatar
    text-align: center
    input
      position: absolute
      top: -1000px
    img
      +border-radius(100%)
