p Olá #{@user.name},

p Estamos enviando este email porque você precisa criar sua senha na Rede Meu Rio. Pode ser a primeira vez que você está criando senha com a gente, ou pode ser que você tenha esquecido da sua senha antiga (a vida tá mesmo corrida), e precise fazer uma nova.

p Pra criar sua senha, é só clicar no link abaixo:

p= link_to edit_password_url(@resource, :reset_password_token => @token), edit_password_url(@resource, :reset_password_token => @token)

p Em nome da equipe do Meu Rio, te agradeço por fazer parte desta rede mobilizadora!

p Não se esqueça de curtir a gente no Face: #{link_to "facebook.com/meurio", "https://www.facebook.com/meurio"}
