p Olá #{@user.name},

p Bem vindo(a) à rede mobilizadora Meu Rio!

p Para completar o seu cadastro, basta clicar nesse #{link_to 'link', edit_password_url(@resource, :reset_password_token => @token)} e autenticar o seu email.

p Por um Rio de Janeiro cada vez mais lindo,

p Fernanda e toda equipe do Meu Rio
